@{
    ViewBag.Title = "Confirmation";
    ViewBag.PageClass = "confirmation-page";
}

<div class="heading">
    <div class="heading-section">
        <h1>Thank You!</h1>
    </div>
</div>
<div class="page-content">
    <div class="content-section">
        <div class="brief">
            <a href="/contact" class="ghost-btn blue-btn btn">return to contact page</a>
        </div>
    </div>
</div>



